{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "mycss.css" %}">
    <title>simplest message board</title>
</head>

<body>
    <div id="msg_all">
    	<h1 id="header">message board</h1>
    	<button type="button" class="btn btn-info btn-block" id="more_btn">more previous message ...</button>
	    <ul class="list-group" id="msg_list">
			{% for obj in Posts %}
				<li class="list-group-item msg" data-postid="{{obj.pk}}">{{obj.text}}<p class="text-right date">{{obj.published_date}}</p></li>
			{% empty %}
				<li class="text-center list-group-item">No messages yet!</li>
			{% endfor %}
		</ul>
	</div>
	<div id="input_area">
		<input type="text" class="form-control" id="msg_input" placeholder="Input text then press enter or send button to send.">
		<button type="button" class="btn btn-primary" id="send_btn">Send</button>
	</div>

    <!-- script -->
<!-- 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- my.js -->
	<script type="text/javascript" src="{% static "my.js" %}" ></script>
</body>

</html>